<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>L'Ombre Véritable</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/public/normalize.css">
  <link rel="stylesheet" href="/public/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body><header><h1>Arezki, Ombre de Shoumei</h1>
<img src="/public/img/frephy.png" alt=""/>
<br>
<p>
  <nav>
    <ul>
      <li>
      <a href="index.html">histoire</a>
      </li>
      <li>
<a href="carac.html">caractéristiques</a>
</li>
<li>
<a href="obj.html">objets et pouvoirs</a>
</li>
</ul>
</nav>

</header>
<main>
  <article><h1>Caractéristiques</h1>
  <h2>Descrptions physiques et psychologiques.</h2>

Si ses deux iris sont semblables à la Lune, sa peau l’est également, elle est une collection de cavités qui viennent creuser son corps et son visage. Cicatrices dont il se délecte à observer la profondeur,  les airs de déchirures, l'imperfection manifeste.

Son corps a l'air d'être en phase terminale d'auto-destruction.

<img src="/public/img/phy1.png" alt="..."/>

<p>Il s'agit de sa véritable forme humaine démoniaque, blanche livide, à l'horrifique texture, froide, glacée, glaçante comme le cœur d'une liche. Il a, malgré tout, l'apparence humaine d'un être de 59 ans, les cheveux blancs entièrement, la barbe frisée dont on s'occupe avec peu de passion, le regard infesté d'une domination qui se veut être constante.</p>

<p>Avant même de le voir, on le sent. On le sait. Il est là. Sans l'ombre d'un doute. Il semble être constamment enlacé par une enveloppe magique noirâtre. Son sourire est mesquin, pervers, dérangeant. Les vulgaires humains, par réflexe, détournent les yeux ou la tête s'ils sont à le croiser.</p>

<img src="/public/img/phy2.png" alt="..."/>

<p>Cette forme admet dans son stade le moins puissant que ses cornes ne soient pas visibles ; que ses oreilles aient une forme arrondies, plus humaines et non crochues, de posséder de noires pupilles, bref de n'aucunement (en tout cas physiquement) suggérer son appartenance à la race démoniaque. Il fait le choix, selon la convenance, d'apparaître plus ou moins démon ou plus ou moins humain. Aux portes de sa toute puissance, par contre, il ne peut faire aucun choix : sa queue et ses cornes apparaissent, le plus souvent qu'une seule. Gare à vous si sur son front Arezki arbore ses deux cornes, c'est qu'il ne se trouve pas loin de son stade purement démoniaque et qu'il désire certainement mettre fin à votre existence. Rapidement.</p>

<p>Il s'agit d'un espiègle personnage, méthodique, intéressé et dangereux. Il n'accorde aucun intérêt légitime aux principes moraux ainsi qu'aux valeurs arborées par ce monde en cette époque. Il fait ce que bon lui semble et ne se plie à aucune contrainte, sauf peut-être celles proférées par Gunnhildr (à qui, il lui arrive tout de même souvent de désobéir).</p>

<p>Il se plaît à s'immiscer dans la vie humaine, cependant. Il trouve les humains véritablement passionnant en tant que précurseurs toujours de la création de chaos! Plus novateurs même que les pires des démons! Il leur prête même, quand il divague, la cause de sa naissance : il fallait qu'il les voit à l'œuvre, il fallait qu'il soit parmi eux pour pérenniser presque de manière prophétique le trouble et le désordre. Les plus mauvais d'entre eux, pour lui, constituent de parfaits facilitateurs qu'il n'hésite pas à corrompre pour arriver à ses fins.</p>

<article>

  <h2>Forme démoniaque</h2>

  <img src="/public/img/demphy.jpg" alt=""/>
<p>Un démon d'ombres, ailé, paré du seul néant qu'est l'absence de lumière. Il tient sa source des marécages d'ombres dont regorgent quasiment tous les endroits de vie. La nuit, il est au stade maximal de sa démoniaque quintessence. Sa voix est un écho dont le corps est pris. Et les corps tremblent lorsqu'il s'exprime. Et les corps tombent quand il sévit.
</p>

<img src="/public/img/demphy1.jpg" alt=""/>
<p>Arezki pratique l'art de la métamorphose depuis des millénaires. Sa transformation préférée, la plus agréable, est celle du hibou. Duc de la nuit, gardien de la clarté, avec toujours pour seule compagnie le plus sentencieux des silences. Très rarement, lorsqu'il souhaite dénoncer sa propre présence, il lui fait apparaître ses cornes.
</p>

</article>

</main>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
