<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>L'Ombre Véritable</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/public/normalize.css">
  <link rel="stylesheet" href="/public/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body><header><h1>Arezki, Ombre de Shoumei</h1>
<img src="/public/img/frephy.png" alt=""/>
<br>
<p>
  <nav>
    <ul>
      <li>
      <a href="index.html">histoire</a>
      </li>
      <li>
<a href="carac.html">caractéristiques</a>
</li>
<li>
<a href="obj.html">objets et pouvoirs</a>
</li>
</ul>
</nav>

</header>

<main>



  <article class="">
    <h1>Objets et armes</h1>
  <h2>Bibelots et babioles.</h2>
<img src="/public/img/stuff.png" class="stuff" alt="..."/>

<ul>
<li>  Un journal</li>
<li>Un carnet de travail</li>
<li>Une lettre officielle lui conférent le statut d'Ombre de Shoumei (en gros, un laisser-passer diplomatique)</li>
<li>Un carnet pour ses poèmes</li>
<li>Un carnet d'adresses</li>
<li>Une topette</li>
<li>Des cigarettes</li>
<li>Un briquet à essence magique</li>
<li>Un étui à lunettes</li>
<li>Une paire de lunettes de vue</li>
<li>Une paire de lunettes de soleil</li>
<li>Une boussole</li>
<li>Une ombrepierre (souvenir de sa naissance)</li>
<li>De l'encens</li>
<li>Du tabac à chiquer</li>
</ul></article>




<article class="">
  <h2>Armes</h2>

  <img src="/public/img/stuff2.png" class="stuff" alt=""/>

  <ul>
    <li>Une canne à système (fleuret) dite "La Diabolique" avec un pommeau en forme d'hibou</li>
    <li>Une rapière</li>
    <li>"Senec", un poignard spécial (à faire valider en boutique, je fais comme s'il ne le possédait pas pour le moment)</li>
  <img src="/public/img/canif1.png" class="canif" alt=""/>
  <li>Un petite dague en ombrepierre "offerte" par la Régente il y a des millénaires.</li>
  <p>Evidemment, celle-ci est maudite. D'apparence normale, certes, mais pour activer les propriétés magiques du poignard, il faut à chaque fois passer un contrat rituel avec. "Senec" a besoin d'une preuve de la souffrance de son utilisateur. Cela explique en grande partie les très  nombreuses plaies sur le corps d'Arezki. Pernicieuse, même après leur combat, Gunnhildr continue à infliger des dommages à l'Ombre.</p>
  <img src="/public/img/canif2.png" class="canif" alt="">
  <li>Un couteau de combat</li>
  <li>Un couteau à lancer</li>

</article>




<article>
  <h2>Joaillerie.</h2>
<img src="/public/img/stuff3.png" class="stuff" alt="..."/>

<ul>
  <h4 class="objp">Main droite :</h4>
<li>Une chevalière présentant une pierre ovale d'adamantine qu'il porte à l'index</li>
<li>Une bague jonc sertie d'un petit caillou ovale d'orichalque rose qu'il porte à l'auriculaire.</li>
<li>Une chevalière présentant un ovale d'ombrepierre qu'il porte à l'annulaire.</li>

<h4 class="objp">Main gauche :</h4>
<li>Une chevalière présentant une pierre ovale d'aether qu'il porte à l'index.
</li>
</ul>
</article>




<article class="Pouvoirs">
  <h1>Pouvoirs</h1>

<p class="objp">  Ombremorts – 4</p>
    <p>Ombremorts est une technique de résurrection unique à Arezki. Ombremorts permet à son utilisateur de faire revivre une créature magique en tant qu’ombre.

    Précisions : Ombremorts ne peut être utilisé contre une cible qui de son vivant était beaucoup plus forte que l’extracteur.</p>

  <p class="objp">  Ombre – 3</p>
  <p>
    Si Arezki a perdu, à cause de son affrontement avec Gunnhildr quelques millénaires avant, sa maîtrise parfaite de la magie élémentaire de l'Ombre, il n'en reste pas moins un expert en la matière. Son seul but est de recouvrer sa puissance d'antan.</p>

  <p class="objp">  Fusion élémentaire – 1</p>
  <p>
    Arezki est l'ombre. Littéralement.</p>

    <p class="objp">Vol – 1</p>
    <p>
    Arezki est capable de voler mais préfère le faire sous sa forme animale.</p>

    <p class="objp">Sombre Aura – Cosmétique</p>
    <p>
    Arezki possède une aura lui enlaçant la peau dont le volume s'intensifie selon son humeur. En gros, sa sombre aura sert d'indicateur de dangerosité pour l'interlocuteur car elle révèle bien souvent les intentions du démon.</p>

<p class="objp">    Chair de Kokot – Cosmétique</p>
<p>
    Le froid emboîte les pas d'Arezki comme si Gunnhildr lui collait à la peau. Lorsque Arezki s'approche de vous ou bien pénètre dans une pièce, vous ressentez comme un vif courant d'air parcourant l'intérieur de votre corps. Les piètres humains claquent des dents, ont des sueurs froides, ont besoin de se réchauffer tandis que les personnes et personnages un peu plus puissants ne ressentent qu'une légère chair de poule(kokot).</p>


<ul>
    <li>Immunité : Air</li>
    <li>Faiblesse : Lumière</li>
  </ul>
</article>
</main>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
